.textbox {
    border: 1px solid #f3f3f3;
    height: 3rem;
    width: 70%;
    box-sizing: border-box;
    padding: 5px 20px;
    outline: none;
    transition: 0.2s ease-in-out;
    border-radius: 2rem;
    position:top;
  }
  
  .textbox:focus {
    transition: 0.2s ease-in-out;
    border: 1px solid blue;
  }
  
